# Next.js
.next/
out/

# Dependencies
node_modules/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
*.pack
*.pack.gz
*.pack.old
*.pack.gz.old

# Temp/debug files
tmp/
*.txt
tsconfig.tsbuildinfo